vagrant/.vagrant/machines/javamariadb/virtualbox/action_provision
vagrant/.vagrant/machines/javamariadb/virtualbox/action_set_name
vagrant/.vagrant/machines/javamariadb/virtualbox/box_meta
vagrant/.vagrant/machines/javamariadb/virtualbox/private_key
vagrant/.vagrant/machines/javamariadb/virtualbox/synced_folders

/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/vagrant
