@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans", sans-serif;
}

form, input, select {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

header div#navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo search icon";
  align-items: center;
  justify-items: center;
  padding: 10px;
  background-color: #1F1F1F;
}
header div#navbar form#navbar__form {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 12px 12px 12px 12px;
  background-color: #8F8F8F;
}
header div#navbar form#navbar__form input.form__searchbar {
  border-width: 0;
  padding-block: 2%;
  text-indent: 5%;
  width: 57%;
  background-color: #8F8F8F;
}
header div#navbar form#navbar__form input.form__searchbar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
}
header div#navbar form#navbar__form input.form__searchbar::-ms-input-placeholder {
  color: black;
}
header div#navbar form#navbar__form #form__buttonsearch {
  border-width: 0;
  background-color: #FF5208;
  border-radius: 0 12px 12px 0;
  padding-block: 0.75%;
}
header div#navbar form#navbar__form #form__buttonsearch:hover {
  background-color: #E04807;
}
header div#navbar form#navbar__form select#form__select_orderby {
  min-height: 100%;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  margin-left: 5px;
  width: 28%;
  padding-block: 2%;
  text-overflow: ellipsis;
  background-color: #828282;
  min-height: 100%;
  cursor: pointer;
}
header div#navbar form#navbar__form select#form__select_category {
  min-height: 100%;
  border-radius: 12px 0 0 12px;
  border-width: 0;
  padding-block: 2%;
  width: 15%;
  text-overflow: ellipsis;
  background-color: #3985a9;
  cursor: pointer;
}
header div#navbar div#navbar__icons {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
}
header div#navbar div#navbar__icons #cart-icon {
  position: relative;
}
header div#navbar div#navbar__icons #cart-icon #cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
header img.logo {
  width: 50px;
  height: 50px;
  background-color: #43A1CC;
  margin: auto;
}

@media screen and (max-width: 768px) {
  div#navbar__icons img.icon_user {
    display: none;
  }
  div#navbar div.logo {
    width: 35px;
    height: 35px;
  }
}
div#navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding-block: 10px;
  color: white;
  background-color: #1F1F1F;
}

@media screen and (min-width: 769px) {
  div#navigation {
    display: none;
  }
  div#content {
    margin-bottom: 0px;
  }
}
div#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(168.75px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding-top: 38px;
}

div.product {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 150px;
}
div.product div.product__div_img {
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  margin-inline: auto;
}
div.product div.product__div_img img.product__img {
  height: 125px;
  width: 125px;
  object-fit: cover;
}
div.product h4.product__name {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 3em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
div.product a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  div#products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
body {
  margin: 0;
  background-color: #FBFBFD;
}

div#content {
  margin-inline: 5%;
  text-align: justify;
  padding-bottom: 60px;
}

img.icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

div.pagination {
  border: 1px solid black;
  padding: 4px;
  padding-inline: 8px;
  text-decoration: none;
  background-color: #d8d8d8;
}

div.pagination a {
  text-decoration: none;
  color: #000;
}

div.active, div.disabled {
  background-color: #919191;
}

ul.pagination {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
