@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans", sans-serif;
}

form, input, select {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

header div#navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo search icon";
  align-items: center;
  justify-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #303030;
}
header div#navbar form#navbar__form {
  display: flex;
  align-items: center;
  width: 100%;
}
header div#navbar form#navbar__form input.form__searchbar {
  border-radius: 0 12px 12px 0;
  border-width: 0;
  padding-block: 2%;
  text-indent: 5%;
  width: 57%;
  background-color: #585858;
}
header div#navbar form#navbar__form input.form__searchbar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
}
header div#navbar form#navbar__form input.form__searchbar::-ms-input-placeholder {
  color: black;
}
header div#navbar form#navbar__form input.form__searchbar:hover {
  background-color: #646464;
}
header div#navbar form#navbar__form input.form__searchbar:focus {
  border-width: 0;
}
header div#navbar form#navbar__form #form__buttonsearch {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
}
header div#navbar form#navbar__form select#form__select_orderby {
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  width: 28%;
  background-color: #303030;
}
header div#navbar form#navbar__form select#form__select_category {
  border-radius: 12px 0 0 12px;
  border-width: 0;
  padding-block: 2%;
  width: 15%;
  background-color: #327999;
}
header div#navbar div#navbar__icons {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
}
header img.logo {
  width: 50px;
  height: 50px;
  background-color: #327999;
  margin: auto;
}

@media screen and (max-width: 768px) {
  div#navbar__icons img.icon_user {
    display: none;
  }
  div#navbar div.logo {
    width: 35px;
    height: 35px;
  }
}
div#navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding-block: 10px;
  color: white;
  background-color: #303030;
}

@media screen and (min-width: 769px) {
  div#navigation {
    display: none;
  }
  div#content {
    margin-bottom: 0px;
  }
}
div#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(168.75px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

div.product {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 150px;
}
div.product img.product__img {
  height: 125px;
  width: 125px;
}
div.product h4.product__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.product a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  div#products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
body {
  margin: 0;
}

body {
  background-color: #EAEAEA;
}

div#content {
  margin-inline: 5%;
  text-align: justify;
}

img.icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
