@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

form, input, select {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

header .navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo search icon";
  align-items: center;
  justify-items: center;
  color: #fbfbfd;
  background-color: #1f1f1f;
}
header .navbar__form {
  display: flex;
  justify-items: center;
  width: 100%;
  border-radius: 12px 12px 12px 12px;
  background-color: #fbfbfd;
}
header .navbar__form--select-category {
  width: 25%;
  border-radius: 12px 0 0 12px;
  min-height: 35px;
  border: none;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  color: #fbfbfd;
  background-color: #175977;
  cursor: pointer;
}
header .navbar__form--search-bar {
  width: 40%;
  background-color: #fbfbfd;
  min-height: 35px;
  border: none;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}
header .navbar__form--search-bar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1f1f1f;
}
header .navbar__form--search-bar::-ms-input-placeholder {
  color: #1f1f1f;
}
header .navbar__form--select-orderby {
  width: 25%;
  min-height: 35px;
  border: none;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  color: #fbfbfd;
  background-color: #175977;
  cursor: pointer;
}
header .navbar__form--button-search {
  width: 10%;
  background-color: #ff5208;
  min-height: 35px;
  border: none;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  border-radius: 0 12px 12px 0;
}
header .navbar__form--button-search:hover {
  background-color: #ff9680;
}
header .navbar__form--button-search .icon {
  width: 1.5rem;
  height: 1.5rem;
}
header .navbar__icons {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
}
header .navbar__icons .cart-icon {
  position: relative;
}
header .navbar__icons .cart-icon .cart-count {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff5208;
  color: #fbfbfd;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  width: 1.5rem;
  height: 1.5rem;
}
header .logo {
  margin: 10px auto;
  background-color: #fbfbfd;
  border: 2px solid #fbfbfd;
  border-radius: 2px;
  width: 3.25rem;
  height: 3.25rem;
}

@media screen and (max-width: 768px) {
  div#navbar__icons img.icon_user {
    display: none;
  }
  div#navbar__icons img.icon_house {
    display: none;
    background-color: #fbfbfd;
  }
  div#navbar div.logo {
    width: 35px;
    height: 35px;
  }
}
.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding: 0.5rem;
  color: #fbfbfd;
  background-color: #1f1f1f;
}

@media screen and (min-width: 769px) {
  div#navigation {
    display: none;
  }
  div#content {
    margin-bottom: 0px;
  }
}
footer {
  bottom: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 0.8rem;
  background-color: #1f1f1f;
  color: #fbfbfd;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .footer .logo {
  width: 50px;
  height: 50px;
}
footer .footer__components {
  justify-content: start;
  margin-left: 20px;
}
footer .footer__course {
  display: grid;
  justify-content: end;
  margin-right: 20px;
}
footer .footer__logo {
  margin: 10px auto;
  background-color: #fbfbfd;
  border: 2px solid #fbfbfd;
  border-radius: 2px;
  width: 3.25rem;
  height: 3.25rem;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-bottom: 60px;
    padding-bottom: 12px;
  }
}
div#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202.5px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding-top: 38px;
}

div.product {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 150px;
}
div.product div.product__div_img {
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  margin-inline: auto;
}
div.product div.product__div_img img.product__img {
  height: 125px;
  width: 125px;
  object-fit: cover;
}
div.product h4.product__name {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 3em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
div.product a {
  text-decoration: none;
  color: #1f1f1f;
}

@media screen and (max-width: 768px) {
  div#products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
section.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.summary {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  padding: 5%;
}
div.summary h1.title {
  margin-bottom: 30px;
}
div.summary div.products-cart h3.total {
  display: grid;
  align-items: end;
  justify-content: end;
}
div.summary div.btns-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}
div.summary div.btns-cart button.btn-empty {
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  background-color: #FF5208;
  border: 3px #FF5208 solid;
  color: white;
}
div.summary div.btns-cart button.btn-empty:hover {
  background-color: #E04807;
  border: 3px #E04807 solid;
}
div.summary div.btns-cart button.btn-buy {
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  background-color: #258d19;
  border: 3px #258d19 solid;
  color: white;
}
div.summary div.btns-cart button.btn-buy:hover {
  background-color: #005200;
  border: 3px #005200 solid;
}

section.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section.register-text {
  display: grid;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 70vh;
}
section.register-text img.img-logo {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 60%;
  width: 100px;
  height: 100px;
  margin: auto;
}
section.register-text h1.register-title,
section.register-text p {
  margin-top: -30%;
  display: grid;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

section.container-register {
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid grey;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20%;
  height: 65vh;
  width: 40vh;
}
section.container-register h1.register-title,
section.container-register hr,
section.container-register p {
  margin-bottom: 10%;
  display: grid;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
section.container-register form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20%;
}
section.container-register form input {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  right: 0;
  font-weight: bold;
  text-align: start;
  border: none;
  border-bottom: 2px solid grey;
}
section.container-register form p.text-register {
  margin-bottom: 10%;
}
section.container-register form button.btn-register {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  background-color: #FF5208;
  border: 3px #FF5208 solid;
  color: white;
  margin-bottom: 10%;
}
section.container-register form button.btn-register:hover {
  background-color: #E04807;
  border: 3px #E04807 solid;
}

section.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section.login-text {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 70vh;
  margin-top: 10%;
}
section.login-text img.img-logo {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 60%;
  width: 100px;
  height: 100px;
  margin: auto;
}
section.login-text h1.login-title,
section.login-text p {
  margin-top: -30%;
  display: grid;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

section.container-login {
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid grey;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10%;
  height: 65vh;
  width: 40vh;
}
section.container-login h1.login-title,
section.container-login hr,
section.container-login p {
  display: grid;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
section.container-login form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 7%;
}
section.container-login form input.input-mail, section.container-login form input.input-password {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  right: 0;
  font-weight: bold;
  text-align: start;
  border: none;
  border-bottom: 2px solid grey;
}
section.container-login form p.text-login {
  margin-bottom: 0;
}
section.container-login form p.text {
  margin-bottom: 5%;
}
section.container-login form button.btn-login {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  background-color: #FF5208;
  border: 3px #FF5208 solid;
  color: white;
  margin-bottom: 10%;
}
section.container-login form button.btn-login:hover {
  background-color: #E04807;
  border: 3px #E04807 solid;
}

section.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10%;
}
section.container section.section-container {
  margin: 0 auto;
  display: grid;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 80vh;
  height: 50vh;
}
section.container section.section-container section.section-content h1.password-title {
  text-align: center;
}
section.container section.section-container section.section-content p.content {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
section.container section.section-container section.section-content form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10% 10% 10% 10%;
}
section.container section.section-container section.section-content form input.input-mail-password {
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  right: 0;
  font-weight: bold;
  text-align: start;
  border: none;
  border-bottom: 2px solid grey;
}
section.container section.section-container section.section-content form button.btn-password {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  background-color: #FF5208;
  border: 3px #FF5208 solid;
  color: white;
  margin-bottom: 10%;
}
section.container section.section-container section.section-content form button.btn-password:hover {
  background-color: #E04807;
  border: 3px #E04807 solid;
}

section.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10%;
}
section.container section.remember-container {
  margin: 0 auto;
  display: grid;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 80vh;
  height: 70vh;
}
section.container section.remember-container section.remember-section h1.remember-title {
  text-align: center;
}
section.container section.remember-container section.remember-section p.remember-content {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
section.container section.remember-container section.remember-section form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10% 10% 10% 10%;
}
section.container section.remember-container section.remember-section form input.rememberpassw {
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  right: 0;
  font-weight: bold;
  text-align: start;
  border: none;
  border-bottom: 2px solid grey;
}
section.container section.remember-container section.remember-section form button.btn-password {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  background-color: #FF5208;
  border: 3px #FF5208 solid;
  color: white;
  margin-bottom: 10%;
}
section.container section.remember-container section.remember-section form button.btn-password:hover {
  background-color: #E04807;
  border: 3px #E04807 solid;
}

body {
  margin: 0;
  background-color: #fbfbfd;
}

div#content {
  margin-inline: 5%;
  text-align: justify;
  padding-bottom: 60px;
}

img.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

div.pagination {
  border: 1px solid #1f1f1f;
  padding: 4px;
  padding-inline: 8px;
  text-decoration: none;
  background-color: #fbfbfd;
  overflow: hidden;
}

div.pagination a {
  text-decoration: none;
  color: #1f1f1f;
}

div.disabled {
  color: #d8d8d8;
  background-color: #fbfbfd;
}

div.active {
  color: #fbfbfd;
  background-color: #1f1f1f;
}

ul.pagination {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
