@mixin mediumButton {
    @include borderRadiusButton;
    @include buttonStyle;
    @include mediumTypografy;
    @include marginPadding;
    max-height: 2.5rem;

    &:hover {
        @include buttonStyleHover;
    }
}

@mixin smallButton {
    @include borderRadiusButton;
    @include buttonStyle;
    @include smallTypografy;
    @include marginPadding;
    max-height: 2rem;

    &:hover {
        @include buttonStyleHover;
    }
}

@mixin btn-disabled {
    background-color: $neutral_origin !important;
    color: $neutral_darker !important;
    border: 2px solid $neutral_origin !important;
    &:hover{
        cursor: not-allowed !important;
    }
}
@mixin miniSmallButton {
    padding: 15px 60px;
    border-radius: 30px;
    @include buttonStyle;
    @include mediumTypografy;
    width: 17%;

    &:hover {
        @include buttonStyleHover;
    }
}