@mixin formInput {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $size-smaller;
}

@mixin formInputError {
    &.is-invalid {
        background-color: $error_lighter;
    }
}

@mixin formLabelError {
    &_invalid {
        @include marginPadding;
        @include smallTypografy;
        color: $error_darker;
    }
}
