@mixin cardPosition {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;

    margin: 0 auto;
    margin-top: 20%;
    height: 65vh;
    width: 50vh;
}

@mixin cardStyle {
    @include mainStyleWhiteMode;
    @include cardShadow;
    @include borderRadiusCard;
}
