@mixin smallTypografy {
    font-weight: bold;
    font-size: small;
}

@mixin mediumTypografy {
    font-weight: bold;
    font-size: medium;
}
@mixin largeTypografy {
    font-weight: bold;
    font-size: xx-large;
}

@mixin cardStyleTitle {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

@mixin links {
    text-decoration: none;
    color: inherit;
}

@mixin userLinks {
    @include margin;
    @include smallTypografy;
    @include links;
    display: grid;
    text-align: center;
    justify-content: center;
}
