@mixin logo {
  margin: 10px auto;
  background-color: $neutral_lighter;
  border: 2px solid $neutral_lighter;
  border-radius: 2px;
  width: 50px;
  height: 50px;
}

@mixin mainStyle {
  color: $neutral_lighter;
  background-color: $neutral_darker;
}

@mixin secondaryStyle {
  color: $neutral_lighter;
  background-color: $secondary_darker;
  cursor: pointer;
}

@mixin searchBar {
  min-height: 35px;
  border: none;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

@mixin borderRadiusLeft {
  border-radius: 12px 0 0 12px;
}

@mixin borderRadiusRight {
  border-radius: 0 12px 12px 0;
}

@mixin iconSmall {
  width: 1.5rem;
  height: 1.5rem;
}
