header {
    div#navbar {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logo search icon";
        align-items: center;
        justify-items: center;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #303030;

        form#navbar__form {
            display: flex;
            align-items: center;
            width: 100%;

            input.form__searchbar {
                border-radius: 0 12px 12px 0;
                border-width: 0;
                padding-block: 2%;
                text-indent: 5%;
                width: 57%;
                background-color: #585858;

                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: black;
                }

                &::-ms-input-placeholder {
                    color: black;
                }

                &:hover {
                    background-color: #646464;
                }

                &:focus {
                    border-width: 0;
                }
            }

            #form__buttonsearch {
                background-color: #00000000;
                border-width: 0;
            }

            select#form__select_orderby {
                // appearance: none;
                outline: 0;
                border: 0;
                box-shadow: none;
                flex: 1;
                padding: 0 1em;
                color: #fff;
                width: 28%;
                background-color: #303030;
            }

            select#form__select_category {
                border-radius: 12px 0 0 12px;
                border-width: 0;
                padding-block: 2%;
                width: 15%;
                background-color: #327999;
            }

        }

        div#navbar__icons {
            display: grid;
            grid-gap: 20px;
            grid-auto-flow: column;
        }
    }

    img.logo {
        width: 50px;
        height: 50px;
        background-color: #327999;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    div#navbar__icons img.icon_user {
        display: none;
    }

    div#navbar div.logo {
        width: 35px;
        height: 35px;

    }
}