$neutral_darker: #1f1f1f;
$neutral_dark: #3e3e3e;
$neutral_origin: #8f8f8f;
$neutral_light: #d8d8d8;
$neutral_lighter: #fbfbfd;

$primary_dark: #7e2a06;
$primary_origin: #ff5208;
$primary_light: #ff9680;
$primary_lighter: #ffd5cc;

$secondary_darker: #175977;
$secondary_dark: #3985a9;
$secondary_origin: #43a1cc;
$secondary_light: #6cc1e9;
$secondary_lighter: #abcddc;

$succes_lighter: #e2ebe0;
$succes_light: #b3ffbd;
$succes_origin: #67ce74;
$succes_dark: #638a5c;
$succes_darker: #425c3d;

$error_lighter: #fdc3c9;
$error_light: #fc9fa8;
$error_origin: #f43e3e;
$error_dark: #d90d0d;
$error_darker: #780707;

$shadow_color: rgba(0, 0, 0, 0.75);

$disabled: #cdcdcd;