$neutral_darker: #1f1f1f;
$neutral_dark: #828282;
$neutral_origin: #8f8f8f;
$neutral_light: #d8d8d8;
$neutral_lighter: #fbfbfd;

$primary_dark: #7e2a06;
$primary_origin: #ff5208;
$primary_light: #ff9680;
$primary_lighter: #ffd5cc;

$secondary_darker: #175977;
$secondary_dark: #3985a9;
$secondary_origin: #43a1cc;
$secondary_light: #4db7e8;

$succes_lighter: #e2ebe0;
$succes_light: #c5d6c2;
$succes_origin: #8bad85;
$succes_dark: #638a5c;
$succes_darker: #425c3d;

$error_lighter: #fcf3cf;
$error_light: #f9e79f;
$error_origin: #f4cf3e;
$error_dark: #d9b00d;
$error_darker: #786207;
