$darker: #1f1f1f;
$dark: #828282;
$neutral: #8f8f8f;
$light: #d8d8d8;
$lighter: #fbfbfd;

$primary_dark: #7e2a06;
$primary_neutral: #ff5208;
$primary_light: #e04807;

$secondary_dark: #3985a9;
$secondary_neutral: #43a1cc;
$secondary_light: #4db7e8;

$succes_lighter: #e2ebe0;
$succes_light: #c5d6c2;
$succes_neutral: #8bad85;
$succes_dark: #638a5c;
$succes_darker: #425c3d;

$error_lighter: #fcf3cf;
$error_light: #f9e79f;
$error_Origin: #f4cf3e;
$error_dark: #d9b00d;

$error_darker: #786207;
