//Colors
$darker_color: #1f1f1f;

$primary_color1: #ff5208;
$primary_color2: #e04807;

$secondary_color1: #43a1cc;
$secondary_color2: #4db7e8;
$secondary_color3: #3985a9;

$light_color: #8f8f8f;
$light_color2: #828282;

$lighter_color: #fbfbfd;
