//Colors
$darker_color: #1F1F1F;

$primary_color1: #FF5208;
$primary_color2: #E04807;

$secondary_color1: #43A1CC;
$secondary_color2: #4DB7E8;
$secondary_color3: #3985a9;

$light_color: #8F8F8F;
$light_color2: #828282;

$lighter_color: #FBFBFD;