.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    padding: 0.5rem;
    @include mainStyle;
    img.icon_user {
        border-radius: 18px;
    }
}

@media screen and (min-width: 769px) {
    div#navigation {
        display: none;
    }

    div#content {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 768px) {
    div.menu-container {
        display: none;
    }
}