div#pagination_container {
}

div.pagination,
div.pagination_number {
    border: 1px solid $neutral_darker;
    text-decoration: none;
    background-color: $neutral_lighter;
    overflow: hidden;
    display: inherit;
    min-width: 35px;
    max-width: 35px;
    align-items: center;
    justify-content: center;
}

div.pagination a,
div.pagination_number a {
    text-decoration: none;
    color: $neutral_darker;
}

div.disabled {
    color: $neutral_light;
    background-color: $neutral_lighter;
}
div.active {
    color: $neutral_lighter;
    background-color: $neutral_darker;
}

ul.pagination {
    display: flex;
    font-size: 1.4em;
    justify-content: center;
    gap: $size-small;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    div.pagination_number {
        display: none;
    }
}
