div.pagination {
  border: 1px solid $neutral_darker;
  padding: 4px;
  padding-inline: 8px;
  text-decoration: none;
  background-color: $neutral_light;
}

div.pagination a {
  text-decoration: none;
  color: $neutral_darker;
}

div.active,
div.disabled {
  background-color: $neutral_origin;
}

ul.pagination {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
}
