body {
  margin: 0;
  background-color: $lighter;
}

div#content {
  margin-inline: 5%;
  text-align: justify;
  padding-bottom: 60px;
}

img.icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
