body {
  margin: 0;
  background-color: $neutral_lighter;
}

div#content {
  // margin-inline: 5%;
  text-align: justify;
  padding-bottom: 60px;
}

img.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
