body {
    margin: 0;
    background-color: $neutral_lighter;
    color: $neutral_darker;
}

body.dark-mode {
    background-color: #242424;
    color: $neutral_lighter;

    .product,
    .card-style-productshow,
    .card-style-productshow-details,
    .card-style-edituser,
    .card-style-account{
        background-color: $neutral_dark;
        color: $neutral_lighter;
    }
    .navbar {
        background-color: $neutral_darker;
    }
}

.content {
    margin-inline: 5%;
    text-align: justify;
    padding-bottom: 60px;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}