section.container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

div.summary {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 5%;

    h1.title {
        margin-bottom: 30px;
    }

    div.products-cart{
        h3.total{
            display: grid;
            align-items: end;
            justify-content: end;
        }
    }

    div.btns-cart{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 50px;

        button.btn-empty{
            border-radius: 10px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            padding:2%;
            background-color: #FF5208;
            border: 3px #FF5208 solid;
            color:white;
        }
        button.btn-empty:hover{
            background-color: #E04807;
            border: 3px #E04807 solid;
        }
        button.btn-buy{
            border-radius: 10px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            padding:2%;
            background-color: #258d19;
            border: 3px #258d19 solid;
            color:white;
        }
        button.btn-buy:hover{
            background-color: #005200 ;
            border: 3px #005200 solid;
        }
    }
}