.main {
    &_title {
        @include largeTypografy;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(160px * 1.125), 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    margin-top: 20px;
}

.card-style-mini {
    @include cardStyle;
    // @include cardPosition;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 160px;

    .product__div_img {
        height: 125px;
        width: 125px;
        display: flex;
        align-items: center;
        margin-inline: auto;

        .product__img {
            height: 125px;
            width: 125px;
            object-fit: cover;
        }
    }

    &_title {
        @include cardStyleTitle;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        height: 3em;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    &_a {
        @include links;
    }

    .small-button {
        @include smallButton;
        min-height: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    div#products,
    .products {
        grid-template-columns: repeat(auto-fit, minmax(calc(150px), 1fr));
    }
}
