.main-home {
    @include outerBorder;
    &_title {
        @include largeTypografy;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(160px * 1.125), 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    // margin-top: 20px;
}

.card-style-home {
    @include cardStyle;
    // @include cardPosition;
    @include miniCardStyle;

    .product-img {
        @include imageCardSize;
    }

    &_title {
        @include cardStyleTitle;
        @include cardStyleTypography;
    }

    &_a {
        @include links;
    }

    .small-button {
        @include smallButton;
        min-height: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    div#products,
    .products {
        grid-template-columns: repeat(auto-fit, minmax(calc(150px), 1fr));
    }
}
