.landing-container {
    display: grid;
    row-gap: $size-smaller;
    margin-inline: -5%;

    a {
        @include links;
    }

    .container-slogan {
        @include landingMainCard;
        transition: transform 0.2s;
        color: $neutral_darker;

        .logo {
            @include logoIntro;
            bottom: 0px;
            width: 200px;
            height: 200px;
            margin-bottom: 0;
        }

        .title-slogan {
            @include largeTypografy;
            margin-left: 40px;
            margin-top: -300px;
        }
    }

    .container-slogan:hover {
        transform: scale(0.98);
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(300px), 1fr));
        column-gap: $size-smaller;
        row-gap: $size-smaller;
        background-color: $neutral_lighter;

        .container-product {
            @include landingCards;
            background-image: linear-gradient($shadow_color, $shadow_color),
                url(../images/woman.jpg);
            background-repeat: no-repeat;

            .title-product {
                color: $neutral_lighter;
                margin-right: 10px;
                @include largeTypografy;
            }
        }

        .container-product:hover {
            transform: scale(0.98);
        }

        .container-product2 {
            @include landingCards;
            background-image: linear-gradient($shadow_color, $shadow_color),
                url(../images/men.webp);
            background-repeat: no-repeat;

            h2.title-product {
                color: $neutral_lighter;
                margin-right: 10px;
                @include largeTypografy;
            }
        }

        .container-product2:hover {
            transform: scale(0.98);
        }
    }

    .products-container {
        display: grid;
        width: 100%;

        h2 {
            margin-left: 10px;
            @include largeTypografy;
            @include line;
            max-height: 80px;
        }
    }

    .products-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(300px), 1fr));
        grid-row-gap: $size-medium;
        grid-column-gap: $size-none;

        .product {
            max-width: 400px;
            width: 250px;
        }
    }
}

@media screen and (max-width: 900px) {
    .products-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(300px), 1fr));

        .product {
            max-width: 400px;
            width: 250px;
        }
    }
}
