.main-login {
    @include twoColumnsMode;
}

.card-style-login {
    @include cardStyle;
    @include cardPosition;
    min-width: 250px;

    &_title {
        @include cardStyleTitle;
    }

    .form {
        @include formInput;

        &_label {
            @include marginPadding;
            @include smallTypografy;

            text-align: start;
            border: none;
            max-height: 2.5rem;
        }

        &_input {
            @include marginPadding;
            @include smallTypografy;

            text-align: start;
            border: none;
            border-bottom: 2px solid $neutral_origin;
            max-height: 2.5rem;
        }

        .general-button {
            @include mediumButton;
        }
    }

    .users-link {
        @include userLinks;
    }
}

.intro-style-login {
    @include cardPosition;
    width: 60vh;
    align-items: center;
    justify-content: center;

    &_logo {
        @include logoIntro;
    }

    &_title,
    &_text {
        @include margin;
        display: grid;
        text-align: center;
    }
}
