.main-orders {
    @include oneColumnsMode;
}

.orders-card {
    grid-row-gap: $size-medium;
    grid-column-gap: $size-medium;
    display: grid;
    min-height: min-content;
    height: min-content;
    justify-items: center;

    .card-style-orders {
        .card-seller {
            @include cardStyle;
            @include marginPadding2;

            gap: $size-medium;
            min-width: 90vw;
            text-decoration: none;

            .card-items-list {
                @include twoColumnsMode;

                display: grid;
                justify-items: center;

                .align-text {
                    text-align: left;
                    justify-self: flex-start;
                }
            }
        }
    }

    .general-button {
        &_order {
            @include mediumButton;
            @include marginPadding2;

            background-color: $succes-dark;
            border-color: $succes-dark;
            max-height: $size-biggest;

            &:hover {
                background-color: $succes-light;
                border-color: $succes-light;
            }
        }
    }
}
