.main-productshow {
    @include twoColumnsMode;
}

.card-style-productshow {
    @include cardStyle;
    @include cardPosition;
    // width: 50vw;

    &_image {
        @include imageBigCardSize;
        display: flex;
        margin-top: 64px;
    }
}

.card-style-productshow-details {
    @include cardStyle;
    @include cardPosition;

    margin-top: 20%;
    margin-left: 1rem;
    padding-bottom: 2rem;
    min-width: 250px;

    &_title {
        @include cardStyleTitle;
        @include cardStyleTypography;
        text-align: center;
    }

    &_a {
        @include links;
    }

    &_content {
        display: grid;
        text-align: left;
        justify-content: left;

        @include smallTypografy;
        @include margin;
        @include links;
    }

    .small-button {
        @include smallButton;
        min-height: 2.5rem;
    }
}
