section.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section.register-text {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 70vh;

  img.img-logo {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60%;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  h1.register-title,
  p {
    margin-top: -30%;
    display: grid;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.container-register {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20%;
  height: 65vh;
  width: 40vh;

  h1.register-title,
  hr,
  p {
    display: grid;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10%;

    input {
      margin-left: 5%;
      margin-right: 5%;
      padding: 5%;
      right: 0;
      font-weight: bold;
      text-align: start;
      border: none;
      border-bottom: 2px solid grey;
    }
  }
}

.card_style {
  @include mainStyleWhiteMode;
  @include cardShadow;
  @include borderRadiusCard;
}

.general_button {
  @include medium_button;
}
