.main-container {
  @include twoColumnsMode;
}

.card-style {
  @include cardStyle;
  @include cardPosition;

  &_title {
    @include cardStyleTitle;
    max-height: fit-content;
  }

  .form {
    @include formInput;

    &_input {
      @include marginPadding;
      @include smallTypografy;

      right: 0;
      text-align: start;
      border: none;
      border-bottom: 2px solid $neutral_origin;
    }
    .general_button {
      @include mediumButton;
    }
  }

  .users-link {
    display: grid;
    text-align: center;
    justify-content: center;
    @include margin;
    @include smallTypografy;
    @include links;
  }
}

.intro-style {
  @include cardPosition;
  width: 60vh;
  align-items: center;
  justify-content: center;

  &_logo {
    @include logoIntro;
  }

  &_title,
  &_text {
    @include margin;
    display: grid;
    text-align: center;
  }
}
