.card-style-shop {
    @include cardStyle;
    @include cardPositionLessMargin;

    &_title {
        @include cardStyleTitle;
        max-height: fit-content;
    }

    .form {
        @include formInput;

        &_label {
            @include marginPadding;
            @include mediumTypografy;
            @include formLabelError;

            text-align: start;
            border: none;
            max-height: 2.5rem;
        }

        &_input {
            @include formInputError;
            @include marginPadding;
            @include mediumTypografy;

            text-align: start;
            border: none;
            border-bottom: 2px solid $neutral_origin;
            max-height: 3rem;
            &_textarea {
                @include formInputError;
                @include marginPadding;
                font-size: large;
                text-align: start;
                border: none;
                border-bottom: 2px solid $neutral_origin;
                min-height: 5rem;
            }
        }


        .general-button {
            @include mediumButton;
        }
    }

    .users-link {
        @include userLinks;
    }
}