.card-style-shop {
    @include cardStyle;
    @include cardPositionLessMargin;

    &_title {
        @include cardStyleTitle;
        max-height: fit-content;
    }

    &_property {
        margin-block: auto;
        text-align: center;
    }

    .form {
        @include formInput;

        &_label {
            @include marginPadding;
            @include mediumTypografy;
            @include formLabelError;

            text-align: start;
            border: none;
            max-height: 2.5rem;
        }

        &_input {
            @include formInputError;
            @include marginPadding;
            @include mediumTypografy;

            text-align: start;
            border: none;
            border-bottom: 2px solid $neutral_origin;
            max-height: 3rem;

            &_textarea {
                @include formInputError;
                @include marginPadding;
                font-size: large;
                text-align: start;
                border: none;
                border-bottom: 2px solid $neutral_origin;
                min-height: 5rem;
            }

            &_color {
                @include formInputError;
                margin-left: 5%;
                margin-right: 5%;
            }
        }

        .general-button {
            @include mediumButton;
        }
    }

    .users-link {
        @include userLinks;
    }
}

.headboard {
    justify-content: space-between;
    padding: 2%;
    display: flex;

    &_logo_and_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_shoplogo {
        margin-right: 20px;
    }

    &_info {
        margin-top: 5%;
        text-align: right;
    }

    &_shopname {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    .headboard {
        display: flex;
        flex-direction: column;

        &_logo_and_name {
            display: flex;
            flex-direction: column;
        }
    }
}

.shop_buttons {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    &_container {
        display: flex;
        justify-content: center;
        gap: $size-small;
    }
}

.admin-buttons {
    display: flex;
    justify-content: center;
    margin-top: $size-smaller;
    gap: $size-medium;

    .small-button {
        border-radius: 12px;
        background-color: #ff5208;
        border: 3px #ff5208 solid;
        cursor: pointer;
        padding: 10px;
        color: #1f1f1f;
        text-decoration: none;
        font-weight: bold;
        font-size: small;
    }

    .small-button:hover {
        background-color: #ff9680;
        border: 3px #ff9680 solid;
    }
}

.hidden {
    background-color: $disabled;
}

.session_success {
    @include success;
}
