.card-style-shop {
    @include cardStyle;
    @include cardPositionLessMargin;
    min-width: 250px;

    &_title {
        @include cardStyleTitle;
        max-height: fit-content;
    }

    .form {
        @include formInput;

        &_label {
            @include marginPadding;
            @include smallTypografy;
            @include formLabelError;

            text-align: start;
            border: none;
            max-height: 2.5rem;
        }

        &_input {
            @include formInputError;
            @include marginPadding;
            @include smallTypografy;

            text-align: start;
            border: none;
            border-bottom: 2px solid $neutral_origin;
            max-height: 2.5rem;
        }

        .general-button {
            @include mediumButton;
        }
    }

    .users-link {
        @include userLinks;
    }
}