.main-edituser {
    @include threeColumnsMode;
}
.card-logout {
    @include cardStyle;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: $primary_origin;
    a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }
}
.card-style-edituser {
    @include cardStyle;
    @include cardPosition;

    width: 30vw;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 2rem;
    min-width: 250px;
    min-height: 450px;
    height: min-content;
    text-align: center;

    &_title {
        @include cardStyleTitle;
    }

    .form {
        @include formInput;

        &_label {
            @include marginPadding;
            @include smallTypografy;
            @include formLabelError;

            text-align: start;
            border: none;
            max-height: 2.5rem;
        }

        &_input {
            @include formInputError;
            @include marginPadding;
            @include smallTypografy;
            @include paddingBottom;

            text-align: start;
            border: none;
            border-bottom: 2px solid $neutral_origin;
            max-height: 2.5rem;
        }
    }

    .general-button {
        @include mediumButton;
        @include marginTopBottom;
        align-items: flex-end;
    }

    .users-link {
        @include userLinks;
    }
}

@media screen and (max-width: 900px) {
    .main-edituser {
        grid-template-columns: repeat(auto-fit, minmax(calc(320px), 1fr));

        justify-content: center;
        align-items: center;
        grid-row-gap: $size-small;
        grid-column-gap: $size-small;
    }
    .card-style-edituser {
        min-width: 300px;
    }
}
