.main-container {
    @include threeColumnsMode;
}

.card-style-user {
    @include cardStyle;
    @include cardPosition;
    @include formInput;

    width: 30vw;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 2rem;
    min-width: 250px;
    min-height: 420px;
    height: min-content;
    text-align: center;
    justify-content: center;

    &_title {
        @include cardStyleTitle;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr;
        // grid-auto-columns: 200px;

        &_label {
            @include marginPadding;
            @include smallTypografy;

            text-align: start;
            border: none;
            max-height: 2.5rem;
        }

        &_input {
            @include marginPadding;
            @include smallTypografy;

            text-align: start;
            border: none;
            border-bottom: 2px solid $neutral_origin;
            max-height: 2.5rem;
        }
    }

    .general-button {
        @include mediumButton;
        @include marginTopBottom;
    }

    .users-link {
        display: grid;
        @include margin;
        @include smallTypografy;
        @include links;
        text-align: center;
        justify-content: center;
    }
}
